<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/push.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            ph.URL = "{{SITE_PROTOCOL}}://{{SITE_HOST}}:{{SITE_PORT}}/stream";

            ph.start();
        });
    </script>
</head>
<body>
    <div id="debug"></div>
    <div>
        <h3 id="test"></h3>
    </div>
</body>
</html>